/* 기본설정 - 제거하지 마세요 */
html {
  scroll-behavior: smooth;
}

/* 기본설정 - 제거하지 마세요 */
body {
  width: 800px;
  margin: 0 auto;
}

.hello {
  font-size: 16px;
  font-weight: 340;
  color: rgb(0, 0, 0);
  border: 0.5px solid rgb(55, 55, 55);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px;
}

.para {
  font-size: 16px;
  font-weight: 330;
  color: rgb(0, 0, 0);
  border: 0.5px solid rgb(55, 55, 55);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px;
}
